/* /* .App {
  text-align: center;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}



#map {
  min-height: 100vh;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* from kenjournal-https://www.youtube.com/watch?v=1fUbZTHcZUs&t=930s */
App {
  text-align: center;
  background-color: blue;
}

#map {
  min-height: 100vh;
}

#List {
  width:25%;
  height: 100%;
  background-color: rgb(58, 58, 153);
  z-index: 1;
  position: absolute;
}

.Mapfooter {
  height:30px;
  background-color: blue;
}
#Header {
background-color: brown;
color: aqua;
}
.h3 {
  text-align: center;
}